header.banner {
    display: flex;
    position: fixed;
    opacity: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #272a31;
    height: var(--banner-height);
    width: 100%;
    text-align: left;
}

.banner>p {
    font-size: 36px;
    color: #cecaca;
    margin: 0%;
    padding-left: 10px;
    padding-top: 10px;
}

/* .main-profile{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
} */


.main-profile {
    display: flex;
    grid-template-columns: 10% 90%;
    height: 100%;
}

.main {
    height: 100%;
}

body {
    background-color: rgb(210, 206, 206);
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    width: 100%;
    margin: 0%;
}

.projects {
    padding-top: 5vw;
}

.projects>p {
    font-size: large;
    color: #272a31;
    font-weight: bold;
    text-decoration: underline;
    margin: 0%;
}

.sidebar {
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border: thin solid #cecaca;
    width: 20vw;
    background-color: rgb(22, 21, 21);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 90%;
    min-width: 17vw;
}

.sidebar>img {
    width: 50%;
    margin-top: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.sidebar>p,
li {
    color: #cecaca;
    padding-left: 10%;
    padding-right: 10%;
}

hr {
    width: 80%;
    height: 1px;
    color: black;
}

.project {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    transition: box-shadow 0.3s ease;
}
.project:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}
.project-wrapper{
    text-align: center;
}
.project-wrapper>p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.social-links {
    display: grid;
    justify-content: left;
    margin: 0%;
    width: 100%;
    padding-left: 0px;
    grid-template-columns: 50% 50%;
}

.social-links>li {
    text-align: center;
    list-style-type: none;
    justify-content: left;
}
.social-links>li:hover{
    transform: scale(1.1);
}

.social-links>li>a {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.social-links>li:first-child {
    padding-right: 10px;
}

.social-links>li:last-child {
    padding-left: 10px;
}

.social-links>li:nth-child() {
    padding-right: 10px;
    padding-left: 10px;
}

.social-links>li>a {
    color: #cecaca;
}

header {
    font-size: 72px;
    text-align: center;
    color: black;
}

.main>h2 {
    font-size: 48px;
    text-align: center;
    color: black;
}

.project-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 10vw;
    grid-gap: 10%;

}

.project-container>div {
    width: 100%;
    height: 100%;
    text-align: center;
}

.hover-text>p {
    font-size: large;
    color: black;
}

.hover-text>p:hover {
    background-color: blue;
    color: #cecaca;
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }

    .main-profile {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .project-container {
        padding-left: 10%;
    }
}

:root {
    --banner-height: 7%;
}